{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article>

   
      {% if post.test %}
	   <p> {{ post.test }} <i>{{post.venue}} </i></p> 
	   <span class="__dimensions_badge_embed__" data-doi= "{{post.doi}}" data-style="large_rectangle"></span><script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
	   {% else %}
	   <p> This doesnt contain post.test </p>
      {% endif %}
 


  </article>
</div>
