{% include base_path %} 

{% if site.logo contains "://" %} 
	{% capture logo_path %}{{ site.logo }}{% endcapture %} 
{% else %} 
	{% capture logo_path %}{{ site.logo }}{% endcapture %} 
{% endif %}

<div class="masthead">
    <div class="masthead__inner-wrap">
        <div class="masthead__menu">
            <nav id="site-nav" class="greedy-nav">
                <button><div class="navicon"></div></button>
				
				


                <ul class="visible-links">
				<div class="topnav-right">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
    <a href="#search">Search</a>
    <a href="#about">About</a>

</div>
                </ul>
                
				
				
				<ul class="hidden-links hidden"></ul>
            </nav>
        </div>
    </div>
</div>
